<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/header :: copy}"></div>

<body>
<div class="container">

    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
<!--    <block th:if="${#authorization.expr('isAuthenticated()')}">-->
        <block th:if="${principal.user.id == board.user.id}">
        <a th:href="@{/updateForm/board/{boardId}(boardId=${board.id})}">
            <button class="btn btn-warning">수정</button>
        </a>
        <a th:href="@{/delete/board/{boardId}(boardId=${board.id})}">
        <button type="button" class="btn btn-danger">삭제</button>
        </a>
<!--        <button th:onclick="location.href='/delete/board/{boardId}(boardId=${board.id})'" type="button" class="btn btn-danger">삭제</button>-->

        </block>
        <br/>
        <div>
            글 번호: <span id ="id"><i>[[${board.id}]]</i></span>
            작성자: <span><i>[[${board.user.username}]]</i></span>
        </div>
        <div class="form-group">
            <h3 th:text="${board.title}">title</h3>
        </div>
        <hr />
        <div class="form-group">
            <div th:utext="${board.content}"></div>
        </div>
        <hr />
</div>
</br>
<div th:replace="~{fragment/footer :: copy}"></div>
</body>
</html>


