<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/header :: copy}"></div>

<body>
<div class="container">
    <form action="/board/update" method="post">
        <input type="hidden" id="id" th:value="${board.id}">
        <div class="form-group">
            <input type="text" name="title" class="form-control" id="title" th:value="${board.title}">
        </div>
        <div class="form-group">
            <textarea name="content" class="form-control summernote" rows="5" id="content" th:text="${board.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정완료</button>
    </form>
</div>
<div id="summernote"></div>
<script>
      $('.summernote').summernote({
        tabsize: 2,
        height: 500
      });
    </script>
</br>
<div th:replace="~{fragment/footer :: copy}"></div>
</body>
</html>


